html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;

	background-color: #173f81;
	color: #ffffff;
}

a {
	text-decoration: none;
}

.container {
	flex: 1 0 auto;
	outline: 1px solid red;
	width: 1200px;
	margin: 0 auto;
}

header {	
	outline: 1px solid red;

	display: flex;
	flex-direction: row;
}

header a {
	color: #ffffff;
}

.social-btn {
	display: inline-block;
	vertical-align: top;
	width: 32px;
	height: 32px;
	font-size: 0;
	position: relative;
}

.social-btn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-facebook::before {
	width: 32px;
  height: 32px;
  background-position: -10px -10px;
}

.sprite-vk::before {
    width: 33px;
    height: 33px;
    background-position: -489px -10px;
}

.sprite-tw::before {
    width: 32px;
    height: 32px;
    background-position: -376px -10px;
}

.sprite-insta::before {
    width: 32px;
    height: 32px;
    background-position: -156px -10px;
}

.sprite-you::before {
    width: 32px;
    height: 32px;
    background-position: -603px -10px;
}

.date-place {
	flex-direction: column;
}

.date {
	display: block;
	padding: 20px;
	border: 2px solid rgba(255,255,255,0.5);
}

.place {
	position: relative;

}

.place::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translate(-50%, -50%);
	background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
}

.sprite-geo::before {
	width: 13px;
  height: 19px;
  background-position: -123px -10px;
}



main {
	display: flex;
	flex-direction: row;
}

footer {
/*Футер будет занимать столько места по вертикали, сколько и должен и не пикселя больше */
	flex: 0 0 auto;
	outline: 1px solid yellow;
	width: 1200px;
	min-height: 193px;
	margin: 0 auto;

	/*почему не сработало?*/
	flex-direction: row;
}

.contacts {
	background-color: #222;
	display: flex;
	flex-direction: row;
}

.contact-info span {
	display: block;
}

.contact-info li {
	display: inline;
	list-style-type: none;
	/*откуда там отступ? не убирается*/
	margin-left: 0px; 
	padding-right: 40px;
}